//------DIMENSION------
$scrollbar-width:8px;
// HEIGHT
$header-height: 48px;
// LINE-HEIGHT
$lh-default: 1.4rem;

//------COLOR------
$color-primary: #007CC0;
$color-secondary: #00324F;
$color-tertiary: #ff4040;
$color-white: #fff;
$color-black: #000;
$color-gray: #f5f5f5;
$color-dark-gray:#C4C4C4;
$color-border-4: #ffffffbb;
$color-gray-linear-gradient-1: linear-gradient(#007cc3, #f5f5f5, #f5f5f5);

// FONT-WEIGHT
$font-weight-super-bold:900;
$font-weight-bold:700;
$font-weight-semi-bold:600;
$font-weight-light:300;

// BORDER
$border-1: 1px solid #4f91ca;
$border-2: 0.15rem solid #eaeaea;
$border-3: 1px solid #eaeaea;
$border-4: 1px solid #ffffff80;
$border-5: 1px solid #CDCDCD;

// SHADOW 
$box-shadow-1:1px 20px 70px -10px rgba(59,59,59,.63);
$box-shadow-2:0 5px 10px 0 rgba(8,29,42,.08);
$box-shadow-3: 1px 0 rgba(255, 255, 255, 0.502);

// MARGIN OFFSET
$margin-offset: 14%;  
  